@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/GothamBook/GothamBook.eot");

  src: url("../fonts/GothamBook/GothamBook.eot") format("eot"),
    url("../fonts/GothamBook/GothamBook.woff") format("woff"),
    url("../fonts/GothamBook/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gothambold/gothambold1.eot");

  src: url("../fonts/gothambold/gothambold1.eot") format("eot"),
    url("../fonts/gothambold/gothambold1.woff") format("woff"),
    url("../fonts/gothambold/gothambold1.ttf") format("truetype");
}
